@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muller';
  background: #E5E5E5;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  margin-top: 70px;
}

.section-heading {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #333333;
}

.btn {
  display: inline-block;
  padding: 13px 20px;

  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;

  color: #CC9933;
  cursor: pointer;
}

/* Header */
.header-top {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-top-left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo-img {
  margin-right: 40px;
}

.header-tel {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #666666;
}

.header-personal-account {
  padding-left: 27px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #CC9933;
  background-image: url('/img/arrow.svg');
  background-repeat: no-repeat;
}

.header-bottom {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 10px 45px;
  border-radius: 15px;
  background-color: white;
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-btn-list {
  display: flex;
  padding-left: 57px;
  border-left: 1px solid #E1E1E1;
}

.header-btn-item:not(:last-child) {
  margin-right: 30px;
}

/* Special offers */
.special-offers-container {
  display: flex;
}

.special-offers-left {
  min-width: 570px;
  margin-right: 20px;
}

.special-offers-item {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}

.special-offers-item:not(:last-child) {
  margin-bottom: 23px;
}

.special-offers-item-first {
  background-image: url('/img/specialOffers1.png');
}

.special-offers-item-second {
  background-image: url('/img/specialOffers2.png');
}

.special-offers-item-heading {
  display: block;
  margin: 40px 234px 15px 40px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: white;
}

.special-offers-item-price {
  margin-left: 40px;
  margin-bottom: 45px;
  font-size: 20px;
  color: #FFFFFF;
}

.special-offers-right {
  display: flex;
  flex-direction: column;
  background-image: url('/img/specialOffers3.png');
  background-repeat: no-repeat;
  border-radius: 15px;
}

.special-offers-right-heading {
  display: block;
  margin: 210px 235px 15px 40px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #FFFFFF;
}

.special-offers-right-price {
  margin-left: 40px;
  margin-bottom: 45px;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
}

.more-detailed {
  width: 100px;
  margin-bottom: 40px;
  margin-left: 40px;
  padding-right: 15px;
  background-image: url('/img/arow_more.svg');
  background-position: right;
  background-repeat: no-repeat;
  font-size: 16px;
  font-weight: 400;
  color: #FFCC66;
}

/* About us */
.about-us-description {
  max-width: 890px;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  color: black;
}

/* Services */
.services-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
}

.services-item {
  width: 573px;
  min-height: 330px;
  margin-bottom: 23px;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 15px;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-item-img1 {
  background-image: url('/img/services1.png');
}

.services-item-img2 {
  background-image: url('/img/services2.png');
}

.services-item-img3 {
  background-image: url('/img/services3.png');
}

.services-item-img4 {
  background-image: url('/img/services4.png');
}

.services-link {
  display: inline-block;
  margin: 190px 0 15px 45px;
  padding-right: 15px;
  background-image: url('/img/arrow_more2.svg');
  background-repeat: no-repeat;
  background-position: right;
  font-size: 20px;
  font-weight: 1;
  font-weight: 500;
  color: #CC9933;
}

.section-description {
  margin: 0 126px 50px 45px;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  color: black;
}

/* Advantages */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
}

.advantages-item {
  width: 275px;
  margin-bottom: 23px;
  padding: 40px 42px 41px 45px;
  border-radius: 15px;
  background-color: white;
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantages-icon {
  padding-bottom: 10px;
  max-width: 66px;
  max-height: 66px;
}

.advantages-description {
  max-width: 188px;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  color: black;
} 

/* Placement */
.placement-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
}

.placement-item {
  width: 374px;
  margin-bottom: 23px;
}

.placement-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.placement-price {
  display: flex;
  margin-top: 35px;
  margin-bottom: 15px;
}

.price-from {
  margin-right: 5px;
}

.price-cost {
  margin-right: 5px;
}

.placement-name {
  margin-bottom: 15px;
  font-weight: bold;
}

.placement-location {
  margin-bottom: 30px;
}

.placement-btn {
  display: inline-block;
}

.margin-bottom {
  margin-bottom: 0;
}